<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Smart Maintainance Partal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ALogin</display-name>
    <servlet-name>ALogin</servlet-name>
    <servlet-class>app.main.ALogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogin</servlet-name>
    <url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDep</display-name>
    <servlet-name>AddDep</servlet-name>
    <servlet-class>app.main.AddDep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDep</servlet-name>
    <url-pattern>/AddDep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addhelp</display-name>
    <servlet-name>addhelp</servlet-name>
    <servlet-class>app.main.addhelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addhelp</servlet-name>
    <url-pattern>/addhelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmaintainance</display-name>
    <servlet-name>addmaintainance</servlet-name>
    <servlet-class>app.main.addmaintainance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmaintainance</servlet-name>
    <url-pattern>/addmaintainance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DLogin</display-name>
    <servlet-name>DLogin</servlet-name>
    <servlet-class>app.main.DLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DLogin</servlet-name>
    <url-pattern>/DLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ULogin</display-name>
    <servlet-name>ULogin</servlet-name>
    <servlet-class>app.main.ULogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULogin</servlet-name>
    <url-pattern>/ULogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComp</display-name>
    <servlet-name>AddComp</servlet-name>
    <servlet-class>app.main.AddComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComp</servlet-name>
    <url-pattern>/AddComp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcomment</display-name>
    <servlet-name>addcomment</servlet-name>
    <servlet-class>app.main.addcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcomment</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>app.main.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
</web-app>